/* Color variants */

.cv__main {
  background-color: $color-secondary;
}

%bg--white {
  background-color: white;
  color: $color-gray-dark;

  h3 {
    color: $color-primary;
  }
}

%bg--primary {
  background-color: $color-primary;
  color: white;

  h3 {
    color: $color-secondary;
  }
}

%bg--secondary {
  background-color: $color-secondary;
  color:white;

  h3 {
    color: $color-primary;
  }
}

.section--tasks { @extend %bg--secondary; }
.section--tools { @extend %bg--primary; }
.section--timeline { @extend %bg--white; }
.section--profile { @extend %bg--secondary; }
