// BOX MODEL

*, *:before, *:after {
  box-sizing: border-box;
}

// MAIN STYLES

html, body {
  min-height: 100vh; // Full height viewport
}

html {
  font-size: $pixels-per-rem * 1px; // Default: 10px
}

body {
	font-family: $fontfamily-base;
	font-size: $fontsize-base;
	line-height: $lineheight-base;

  -webkit-font-smoothing: antialiased; // Does it help?

	@include bp ('lg') {
    background-color: $color-gray-dark;
    background-image: radial-gradient(ellipse farthest-corner, #888, #222);
    // Supaflex centered cv :)
    display: flex;
    align-items: center;
    justify-content: center;
	}
}

a {
  $link-color--hover: lighten($color-secondary, 20%);

  color: $color-secondary;
  font-weight: $fontweight-bold;
  font-style: italic;
  text-decoration: none;
  border-bottom: 2px dotted transparent;
  transition: all 0.25s;

  &:hover {
    color: $link-color--hover;
    border-color: $link-color--hover;
  }
}


h1 {
  font-size: $fontsize-h1;
  line-height: 0.9;
  font-weight: $fontweight-light;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: $fontsize-h2;
  line-height: 1.25;
  font-weight: $fontweight-base;
}

h3 {
  font-size: $fontsize-h3;
  line-height: 1.25;
  font-weight: $fontweight-base;
  text-transform: uppercase;
  color: $color-gray;
  margin-top: $gutter * 1.25;
}


img {
  display: block;
  max-width: 100%;
}

ul {
  padding-left: 0;
}

li {
  margin-bottom: $gutter-half;
  list-style-type: none;
}
