/* SECTION */


// Placeholders

%trailing-slashes {

  &:after {
    content: " // ";
  }
}

%headline {
  text-transform: uppercase;
  font-size: $fontsize-big;
  font-weight: $fontweight-bold;
  font-style: italic;
}

%headline--inline {

  &,
  & + * {
    display: inline;
  }
}

%big-strong {
  font-size: $fontsize-big;
  line-height: 1;
  font-weight: $fontweight-bold;
}


/* Section - general */

.section {
  position: relative;
  padding: $gutter * 1.5 $gutter;
  padding-top: $gutter * 1.5;
}

/* Section - title */

.section__title {
  position: absolute;
  top: 0;
  left: -$gutter;
  transform: translate3d(0, -50%, 0);
  padding: $gutter-quarter $gutter-half;
  padding-left: $gutter-double;

  color: white;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: $fontsize-bigger;
  font-weight: $fontweight-light;
  font-style: italic;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skewX($skew-angle);
    background-color: $color-secondary;
    @include m-shadow(1);
    z-index: -1;
  }
}


/* Section - body */

.section__body {

  article {
    margin-bottom: $gutter-half;
  }

  h3 {
    @extend %headline;
  }

  .section--tasks &,
  .section--tools &,
  .section--profile & {

    h3 {
      @extend %trailing-slashes;
      @extend %headline--inline;
    }
  }

  p + p {
    margin-top: $gutter-half;
  }
}


/* Color variants */

.cv__main {
  background-color: $color-secondary;
}

%bg--white {
  background-color: white;
  color: $color-gray-dark;

  h3 {
    color: $color-primary;
  }
}

%bg--primary {
  background-color: $color-primary;
  color: white;

  h3 {
    color: $color-secondary;
  }
}

%bg--secondary {
  background-color: $color-secondary;
  color:white;

  h3 {
    color: $color-primary;
  }
}

.section--tasks { @extend %bg--secondary; }
.section--tools { @extend %bg--primary; }
.section--timeline { @extend %bg--white; }
.section--profile { @extend %bg--secondary; }


/* TASKS */

.section--tasks {

  article {

    h3 {
      font-size: $fontsize-bigger;
    }
  }
}
